html, body{  height:100%; }
body{background:rgba(0,0,0,1);margin:0;padding:0;font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;}
img{vertical-align: middle;}
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.above {
    height: 40px;
    background:rgba(0,0,0,0.1);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    z-index:1999
}
.above .above_left{
    background: url(../usr/themes/aoting/img/hd_icon.png)no-repeat 10px 10px ;
    background-size: 70px 450px;
    height: 40px;
    float: left;
    width: 50px;
    cursor:pointer;
}
.bottom{
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    z-index: 1999;
    color: white;
    width:100%;
    height: 130px;
    text-align: left;
}
.bottom .bottom_inner{
    width:280px;
    padding: 0 20px 10px 20px;
    line-height: 20px;
    height: 100px;
    overflow:auto;
}
.pic{
    border:none;
}

@media screen and (min-width:375px){
    .bottom{height:170px}
    .bottom .bottom_inner{height:140px;line-height: 20px;font-size: 17px}
}
@media screen and (min-width:414px){
    .bottom{height:180px}
    .bottom .bottom_inner{height:150px;line-height: 25px;font-size: 20px;width: 370px}
}