*{
    margin:0;
    padding:0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
body{
    background-color: #E6E5E2;
}
.w-800{
    width: 50%;
    min-width: 800px;
    overflow: hidden;
    margin:0 auto;
}
.pic_Box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    padding:10px;
}
.pic_Box img{
    /*margin: 0 auto;*/
    display: inline-block;
    width:100%;
}
.nav>li>a{
    padding: 10px 15px;
}
.name{
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}
.description{
    text-align: left;
    font-size: 13px;
    line-height: 24px;
    margin-top:10px;
}