*{
    margin: 0;
    padding: 0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
    /*font-family:"Comic Sans MS","幼圆","黑体",sans-serif;*/
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    padding:0;
    margin: 0;
}
li {
    list-style-type: none;
    display: inline;
}
body{
    background-color: #E6E5E2;
}
.w-800{
    width: 70%;
    margin: 0 auto;
    min-width:930px;
    overflow:hidden;
    max-width: 1280px;
}
.left{
    float: left;
}
.right{
    float:right;
}


/*header*/
.header{
    width: 100%;
    overflow: hidden;
}

.header .header-wrap{
    width: 100%;
    overflow: hidden;
    background-color: white;

}
.header .header-wrap .w-800 .nav-bar{
    width: 100%;
    overflow: hidden;
    margin-top:10px;
}

.navbar-nav{margin-top: 25px}
.navbar-nav a {
    color: #F09b00;
}
.navbar-nav>li>a{
    line-height: 30px;
}
.nav>li>a {
    padding: 10px 25px;
}
.navbar-header{height:80px}
.navbar-toggle .icon-bar{
    background-color: #F09b00;
}
.navbar-header .navbar-toggle {
    border-color: #eee;
    margin-top: 30px;
}
@media screen and (max-width: 930px){
    .w-800 {
        min-width: 320px;
        width: 100%;
    }
}


.header .search-frame{
    margin-top:25px;
    font-size:12px;
    overflow:hidden;
    width: 23%;
    padding-top: 15px;
}
.header .search-frame input{
    border: none;
    border-radius: 15px 0 0 15px;
    height: 22px;
    width:70%;
    background-color:#ececec;
    padding-left: 10px;
}
.header .search-frame input:focus{
    outline: none;
}
.header .search-frame .sure{
    border: none;
    height: 22px;
    width: 44px;
    border-radius: 0 15px 15px 0;
    color: darkgray;
    line-height: 22px;
    cursor: pointer;
    background-color:#ececec;
}
/*header  end....................................................................................................................................*/
.main_nav_wrap{
    background-color: lightgrey;
    height: 42px;
}
.main_nav_wrap ul{
    text-align: center;
    overflow: hidden;
    margin: 0;
    min-width: 770px;
}
.main_nav_wrap ul li{
    text-align: center;
    font-size: 12px;
    width: 110px;
    line-height: 40px;
    margin-bottom: -1px;
    float: left;
}
.main_nav_wrap ul li a:hover{
    cursor: pointer;
    color: #F09b00;
    text-decoration: none;
}
.active{
    border-top: 2px solid #F09b00;
    background-color: white;
    border-bottom:1px solid white;
    z-index: 1;
    position: relative;
}


.picBox{
    overflow: hidden;
    margin-bottom: 50px;
    display:block;
}
.pic_wrap .pic_box{
    width: 22.5%;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid #d6d6d6;*/
    background-color: #fff;

}
.pic_wrap .pic_box_img{
    /*height: 159px;*/
    text-align: center;
}
.pic_wrap .pic_box_img img{
    width: 100%;
    vertical-align: middle;
    cursor:pointer;
}
.pic_box_text{

    font-size: 13px;
    color: #333;
    cursor: pointer;
    overflow:inherit;
}
.pic_box_text a{
    color:#333;
    margin:20px;
    display: block;
}
.nav_wrap{
    text-align: center;
    margin-bottom: 40px;
}
.pagination>li>a:active{
    background-color: grey;
}