.w-800{
    width:auto;
    min-width: 320px;
}
.pic_wrap .pic_box{
    margin: 5px;
    background-color: #fff;
    border: none;
    width: auto;
}
.pic_wrap .pic_box_img{
    height:auto;
}
.pic_box_text{
    font-size: 17px;
    width: 75%;
    display: inline-block;
}
.pic_box_text_right{
    width: 20%;
    float:right;
    margin-top: 20px;
}
@media screen and (max-width:600px) {
    h2{font-size: 20px;}
}