*{
    margin: 0;
    padding: 0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
    /*font-family:"Comic Sans MS","幼圆","黑体",sans-serif;*/
}
a{
    text-decoration: none;
}
ul{
    padding:0;
    margin: 0;
}
li {
    list-style-type: none;
    display: inline-block;
}
.w-800{
    width: 50%;
    margin: 0 auto;
	min-width:800px;
}
.left{
    float: left;
}
.right{
    float:right;
}
/*头部..................................................................................................................*/
.header{
    width: 100%;
    overflow: hidden;
}

.header .header-wrap{
    width: 100%;
    overflow: hidden;
    background-color: white;

}
.header .header-wrap .w-800 .nav-bar{
    width: 100%;
    overflow: hidden;
    margin-top:10px;
}
.header .header-wrap .w-800 .nav-bar .logo_wrap .logo{
    width: 110px;
}
.header .header-wrap .w-800 .nav-bar ul{
    width: 100%;
}
.header .header-wrap .w-800 .nav-bar ul li{
    text-align: center;
    margin-left:7%

}
.header .header-wrap .w-800 .nav-bar ul li a{
    color: #F09b00;
    line-height: 70px;
    font-size:15px;
}
.header .header-wrap .w-800 .nav-bar ul li a:hover{
    color: #ed2847;
    font-weight: 600;

}
.header .search-frame{
    margin-top:25px;
    font-size:15px;
	padding-top:15px;
    overflow:hidden;
    width: 23%;
}
.header  .search-frame input{
    border: none;
    border-radius: 15px 0 0 15px ;
    height: 22px;
	padding-left:5px;
    width:70%;
	font-size:11px;
    background-color:#ececec;
}
.header .search-frame input:focus{ 
	outline:none;
}
.header .search-frame .sure{
    border: none;
    height: 22px;
    width: 44px;
	font-size:12px;
    border-radius: 0 10px 10px 0;
    color: darkgray;
    line-height: 22px;
    cursor: pointer;
    background-color:#ececec;
}

.navbar-header {height:80px;}
.navbar-nav {margin-top:25px; color:#F09b00;}
.navbar-nav a {color:#F09b00;}
.navbar-toggle .icon-bar { background-color: #F09b00;}
.navbar-header .navbar-toggle  {border-color: #eee; margin-top:30px;}
/*....................................................................................................................*/
.wrap{
    width: 100%;
    overflow: hidden;
    background-color: #E6E5E2;
}
.wrap .big-pic img{
    width: 100%;
    display:block;
}
.wrap .content{
     width: 100%;
     margin-top: -200px;
	 overflow:hidden;
 }
.wrap .content .content_above{
    background-color: #E6E5E2;
    position: relative;
    overflow: hidden;
 }
.wrap .content .content_above .logo_pic{
     text-align: center;
     width: 25%;
    background-color: #1f1921;
    height: 198px;
}
.wrap .content .content_above .logo_pic img{
    width: 80%;
    margin: 15px 0;
}
.wrap .content .content_above .logo_pic p{
    color:#DA7826;
}
.wrap .content .content_above .carousel-pic{
    width:50%; ;
    height: 198px;
}
.wrap .content .content_above .carousel-pic img{
    height: 198px;
    width: 100%;
}
.wrap .content .content_above .carousel-text{
      background-color: #1f1921;
      color: white;
      height: 198px;
      width: 25%;
}
.carousel-text-head{
margin-top: 20px;
  text-align: center
  }

#banner{height: 200px}


.wrap .content .content_above .list_wrap{
    overflow: hidden;
    width: 100%;
}
.wrap .content .content_above .list_wrap .participants_list{
    text-align: center;
    width: 25%;
    margin-bottom: 20px;
}
.wrap .content .content_above .list_wrap .participants_list p{
    color: white;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #004f87;
    margin-bottom: 5px;
    font-size: 14px;
}
.wrap .content .content_above .list_wrap .participants_list .list li{
    font-size: 12px;
    width: 45%;
    line-height: 25px;
    color: #DA7826;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content_table {
    width: 100%;
}
.content_table th{
    width: 25%;
	text-align:center;
}
.click_text{
    font-size: 13px;
    margin-top: 8px;
}
.clickImg{
    width: 40%
}
.content_table .th_red{
    background-color: #B21c33;
    text-align: left;

}
.content_table .th_red .th_red_above{
    margin-left: 10px;
}
.content_table .th_red .th_red_above p{
    color:white;
    font-weight: 100;
    text-align: center;

}
.content_table .th_red .th_red_bottom{
    margin-top: 40px;
    margin-left: 12%;
    margin-right:12%;
}
.content_table .th_red .th_red_bottom p{
    color:white;
    margin-top: 10px;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
}
.content_table .th_gray_above{
    width:100%;
}
.content_table .th_gray_above p{
    color:#6f706c;
    font-weight: 100;
}
.content_table .th_gray_bottom{
    margin-top: 30px;
    margin-left:12%;
    margin-right:12%;
    text-align: left;
}
.content_table .th_gray_bottom p{
    color:#6f706c;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
}

.wrap .content .content_below{
    background-color: #201921;
    margin-bottom: 30px;
	padding:20px;
}
.wrap .content .content_below .yellow_box_wrap{
    height:150px;
    background-color: #f7a013;
}

.right-side .right-side-img img{
    width: 115px;
}

.wrap .content .content_below .yellow_box_wrap .right-side .right-side-img{
    margin-top: 18px;
    margin-right: 10px;
}
.wrap .content .content_below .yellow_box_wrap .right-side .right-side-text{
    margin-top: 70px;
	margin-right:10px;
}
.wrap .content .content_below .yellow_box_wrap .right-side .right-side-text p{
    color:white;
}


.wrap .content .content_below .yellow_box_wrap .left-side{
    margin-top: 25px;
    margin-left: 20px;
    width: 400px;
}
.wrap .content .content_below .yellow_box_wrap .left-side ul ,.left-side a{
    font-size: 12px;
    color: white;
}
.left-side .first{
    font-size: 13px;
}
.left-side .number-first{
    font-size: 16px;
}
.left-side .number{
    font-size: 17px;
    margin-right: 4%;
}
.wrap .content .content_below .yellow_box_wrap .left-side ul li{
    line-height: 33px;
    margin-right: 8%;
}

/*.wrap .content .content_below .yellow_box_wrap .right-side .contact p{*/
    /*display: inline-block;*/
/*}*/

/* footer*/



.footer{
  background-color:#E6E5E2;
  border-top:1px solid darkgray;
  text-align: center;
    height: 20px;
  }


@media screen and (max-width:800px){
    .header .header-wrap .w-800 .nav-bar .logo_wrap .logo{width: 100px;}
    .w-800{min-width:320px;width: 100%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 18px}
    .nav{width:60%}
    #banner{height: 180px}
    .wrap .content .content_above .carousel-pic img{height: 180px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 180px;}
    .wrap .content{margin-top:0}
}
@media screen and (max-width:720px){
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 5%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 16px;line-height: 60px}
    .nav{width:80%}
    .header .header-wrap .w-800 .nav-bar .search-frame{width:50%;float:none;margin-top: 0;margin:0 auto}
    #banner{height: 160px}
    .wrap .content .content_above .carousel-pic img{height: 160px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 160px;}
    .content_table .th_red .th_red_bottom{margin-top: 20px}
    .content_table .th_gray_bottom{margin-top: 20px}
    .wrap .content .content_below .yellow_box_wrap{margin-left: 10px}
    .wrap .content .content_below .yellow_box_wrap .right-side {margin-left:10px}
}
@media screen and (max-width:670px){
    .wrap .content .content_above .list_wrap .participants_list{width: 50%;margin-bottom: 10px}
    .content_table .th_red .th_red_bottom{display:none}
    .content_table .th_gray_bottom{display: none}
    .carousel-text-head p{font-size: 12px}
    .wrap .content .content_above .carousel-pic{height: 140px}

}
@media screen and (max-width:600px){
    #banner{height: 140px}
    .wrap .content .content_above .carousel-pic img{height: 140px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 140px;}
    .wrap .content .content_below{width: 100%}
    .wrap .content .content_below .yellow_box_wrap{width:94%; text-align: center;margin-left: 3%}
    .right-side{overflow: hidden;display: inline-block;float:none}
    .wrap .content .content_below .yellow_box_wrap .left-side {margin-left:10px;width:44%;display: none}
    .wrap .content .content_below{margin-bottom: 10px}
    .clickImg{width: 35%}
}
@media screen and (max-width:540px){

    .header .header-wrap .w-800 .nav-bar .logo_wrap .logo{width: 90px;}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 13px}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 3%}
    .nav{width:75%}
}
@media screen and (max-width:429px){
    #banner{height: 120px}
    .wrap .content .content_above .carousel-pic img{height: 120px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 120px;}
    .wrap .content .content_above .logo_pic p{font-size:10px}
    .wrap .content .content_above .list_wrap{margin-top: 0}
    .wrap .content .content_above .list_wrap .participants_list .list li{font-size: 10px;line-height: 10px}
    #banner_text_list a{font-size: 9px}
    .carousel-text-head{margin-top: 10px}
    .carousel-text-head p{font-size: 8px}
    .wrap .content .content_above .logo_pic img{margin-bottom: 5px}
    .wrap .content .content_above .list_wrap .participants_list p{margin-top:0}
    .content_table th{height: 80px}
    .wrap .content .content_above .carousel-pic{height:120px}
    .nav{width:100%}
    .header .header-wrap .w-800 .nav-bar ul li a{line-height: 30px}
    .header .header-wrap .w-800 .nav-bar .search-frame{float:none;margin-top: 20px;margin-left: 190px}
    .click_text{font-size: 8px;margin-top: 1px}
    .content_table .th_red .th_red_above p{font-size: 10px}
    .content_table .th_gray_above p{font-size: 10px}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 6%}
    .wrap .content .content_below{height:195px}
}

@media screen and (max-width:413px){
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 5%}
    .header .header-wrap .w-800 .nav-bar .search-frame{margin-left: 175px}

}
@media screen and (max-width:374px){
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 4.5%}
    .header .header-wrap .w-800 .nav-bar .search-frame{margin-left: 170px}

}
@media screen and (max-width:359px){
    #banner{height: 100px}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 3%}
    .wrap .content .content_above .carousel-pic img{height: 100px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 100px;}
    .wrap .content .content_above .logo_pic p{font-size:10px}
    .wrap .content .content_above .list_wrap{margin-top: 0}
    .wrap .content .content_above .list_wrap .participants_list .list li{font-size: 10px;line-height: 10px}
    #banner_text_list a{font-size: 9px}
    .carousel-text-head{margin-top: 10px}
    .carousel-text-head p{font-size: 8px}
    .wrap .content .content_above .logo_pic img{margin-bottom: 5px}
    .wrap .content .content_above .list_wrap .participants_list p{margin-top:0}
    .content_table th{height: 80px}
    .wrap .content .content_above .carousel-pic{height:100px}
    .nav{width:100%}
    .header .header-wrap .w-800 .nav-bar ul li a{line-height: 30px}
    .header .header-wrap .w-800 .nav-bar .search-frame{float:none;margin-top: 20px;margin-left: 150px}
    .click_text{font-size: 7px;margin-top: 1px}
    .content_table .th_red .th_red_above p{font-size: 10px}
    .content_table .th_gray_above p{font-size: 10px}
    .wrap .content .content_below{height: 350px}
    .wrap .content .content_below .yellow_box_wrap{height:150px}
    .wrap .content .content_below{margin-bottom: 10px;height:200px;}
    .details_content p{margin-left: 5px;margin-right: 5px}
}
/*...............................................................................................................*/
@media (min-width:1024px){
    .wrap .content{margin-top:-240px;}
}
@media (min-width:1280px){
    .wrap .content{margin-top:-310px;}
}
@media (min-width:1366px){
    .wrap .content{margin-top:-410px;}
}
@media (min-width:1440px){
    .wrap .content{margin-top:-290px;}
}
@media (min-width:1600px){
    .wrap .content{margin-top:-397px;}
}
@media (min-width:1680px){
    .wrap .content{margin-top:-328px;}
    #banner{height: 210px}
    .wrap .content .content_above .carousel-pic img{height: 210px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 210px;}
}
@media (min-width:1920px){
    .wrap .content{margin-top:-450px;}
    #banner{height: 240px}
    .wrap .content .content_above .carousel-pic img{height: 240px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 240px;}
    .wrap .content .content_above .logo_pic p{font-size: 20px}
    .wrap .content .content_above .list_wrap .participants_list{margin-bottom: 30px}
    .wrap .content .content_above .list_wrap .participants_list p{font-size: 17px;}
    .wrap .content .content_above .list_wrap .participants_list .list li{font-size: 16px;width:45%;line-height: 42px;}
    .carousel-text-head{font-size: 20px;margin-top:30px;}
    #banner_text_list a{font-size: 17px;}
    .content_table .th_red .th_red_above p{font-size: 20px;}
    .content_table .th_red .th_red_bottom p{font-size: 14px;}
    .click_text{font-size: 20px;}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 6%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 20px}
    .content_table .th_gray_above p{font-size:20px}
    .content_table .th_gray_bottom p {font-size:14px}
    .wrap .content .content_below .yellow_box_wrap{height: 180px;}
    .wrap .content .content_below .yellow_box_wrap .right-side .right-side-img{ margin-top: 33px;  margin-right: 40px;}
    .wrap .content .content_below .yellow_box_wrap .right-side .right-side-text{margin-top:80px;margin-right: 20px}
    .wrap .content .content_below .yellow_box_wrap .left-side ul li{line-height: 40px;margin-right: 10%}
    .wrap .content .content_below .yellow_box_wrap .left-side{margin-left: 30px}
    .nav>li>a{padding:10px 25px;font-size:16px}
}
@media (min-width:2560px){
    .wrap .content{margin-top:-500px;}
    #banner{height: 320px}
    .wrap .content .content_above .carousel-pic img{height: 320px}
    .wrap .content .content_above .carousel-text , .wrap .content .content_above .logo_pic{height: 320px;}
    .wrap .content .content_above .logo_pic p{  font-size: 25px}
    .wrap .content .content_above .list_wrap .participants_list p{font-size: 19px;}
    .wrap .content .content_above .list_wrap .participants_list .list li{font-size: 14px;width: 45%;line-height: 35px;}
    .carousel-text-head{font-size: 23px;margin-top:40px;}
    #banner_text_list a{font-size: 19px;}
    .content_table .th_red .th_red_above p{font-size: 20px;}
    .content_table .th_red .th_red_bottom p{font-size: 14px;}
    .click_text{font-size: 20px;margin-top: 10px;}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 6%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 20px}
    .content_table .th_gray_above p{font-size:20px}
    .content_table .th_gray_bottom p {font-size:14px}

    .wrap .content .content_below .yellow_box_wrap{height: 220px;}
    .wrap .content .content_below .yellow_box_wrap .left-side{width:560px;margin-top: 40px;margin-left: 50px}
    .wrap .content .content_below .yellow_box_wrap .left-side ul, .left-side a{font-size: 15px;}
    .left-side .number-first{font-size: 17px;}
    .left-side .number{font-size: 18px;}
    .wrap .content .content_below .yellow_box_wrap .right-side .right-side-img{ margin-top: 50px;  margin-right: 50px;}
    .wrap .content .content_below .yellow_box_wrap .right-side .right-side-text{margin-top:110px;margin-right: 50px}
    .wrap .content .content_below .yellow_box_wrap .left-side ul li{line-height: 50px;margin-right: 70px}
    .left-side .first{font-size: 16px;}
    .nav>li>a{padding:10px 40px;font-size:18px}

}
a:hover{
    text-decoration: none;
}