*{
    margin: 0;
    padding: 0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding:0;
    margin: 0;
}
li {
    list-style-type: none;
    display: inline-block;
}
.w-800{
    width: 800px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float:right;
}
/*头部..................................................................................................................*/
.header{
    width: 100%;
    overflow: hidden;
}

.header .header-wrap{
    width: 100%;
    overflow: hidden;
    background-color: white;
  
}
.header .header-wrap .w-800 .nav-bar{
    width: 100%;
    overflow: hidden;
	margin-top:10px;
}
.header .header-wrap .w-800 .nav-bar .logo_wrap .logo{
    width: 110px;
}
.header .header-wrap .w-800 .nav-bar ul{
    width: 100%;
}
.header .header-wrap .w-800 .nav-bar ul li{
    text-align: center;
    width: 86px;

}
.header .header-wrap .w-800 .nav-bar ul li a{
    color: #F09b00;
    line-height: 70px;
}
.header .header-wrap .w-800 .nav-bar ul li a:hover{
    color: #ed2847;
    font-weight: 600;

}
.header .header-wrap .w-800 .nav-bar .search-frame{
    margin-top:24px;
    font-size:15px;
    overflow:hidden;
}
.header .header-wrap .w-800 .nav-bar .search-frame input{
    border: none;
    border-radius: 15px;
    height: 22px;
    width:170px;
	background-color:#ececec;
}
.header .header-wrap .w-800 .nav-bar .search-frame .sure{
    border: none;
    height: 22px;
    width: 44px;
    border-radius: 10px;
    color: white;
    line-height: 22px;
    cursor: pointer;
	background-color:$ececec;
	
}



/*....................................................................................................................*/
.wrap{
    width: 100%;
    overflow: hidden;
    background-color: #ebe5e7;
}
.wrap .big-pic img{
    width: 100%;
}
.wrap .content{
     width: 100%;
     margin-top: -200px;
     margin-bottom:20px;
	 overflow:hidden;
 }
.wrap .content .content_above{
    background-color: #02254d;
    position: relative;
    overflow: hidden;
 }
.wrap .content .content_above .logo_pic{
    margin-top: 20px;
  margin-right: 32px;
  text-align: center;
  width: 168px;
}
.wrap .content .content_above .logo_pic img{
    width: 168px;
	margin-left: 15px;
}
.wrap .content .content_above .logo_pic p{
    color:#ed961f;
	  margin-left: 30px
}
.wrap .content .content_above .carousel-pic{
    height: 198px;
    width:400px ;
}
.wrap .content .content_above .carousel-pic img{
    height: 198px;
    width: 400px;
}
.wrap .content .content_above .carousel-text{
    background-color: #201921;
    color: white;
    padding: 20px;
    width: 160px;
    height: 158px;
}

 .participants_list{
    text-align: center;
    width: 25%;
	margin-top:20px;
	width:192px;
}

.participants_list .list li{
    font-size: 12px;
    width: 60px;
    line-height: 20px;
    color: #f7a013;
}




.wrap .content .content_middle{
    overflow: hidden;
}

 .every_pic{
    width: 200px;
    text-align: center;
    overflow: hidden;
    height: 200px;
}
 .every_pic img{
    width: 200px;
    height: 200px;
}




.wrap .content .content_below{
    background-color: #201921;
    position: relative;
    height:205px;
    margin-bottom: 30px;
}
.wrap .content .content_below .yellow_box_wrap{
    height:145px;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 30px;
    position: absolute;
    background-color: #f7a013;
    width: 150%;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-img{
    margin-left: 60px;
    margin-top: 16px;
    width:255px;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-text{
    margin-left: 40px;
    margin-top: 50px;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-text p{
    line-height: 25px;
    color:white;
    font-weight: 600;
}
.wrap .content .content_below .yellow_box_wrap .right-side{
    color:white;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 14px;
}
.wrap .content .content_below .yellow_box_wrap .right-side .contact{
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.wrap .content .content_below .yellow_box_wrap .right-side .contact p{
    display: inline-block;
}

/* footer*/



.footer{
  overflow: hidden;
  height:40px;
  background-color:#ebe5e7;
  border-top:1px solid darkgray;
  }



/*...............................................................................................................*/
