*{
    margin: 0;
    padding: 0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding:0;
    margin: 0;
}
li {
    list-style-type: none;
    display: inline-block;
}
.w-800{
    width: 50%;
    margin: 0 auto;
	min-width:800px;
}
.left{
    float: left;
}
.right{
    float:right;
}
/*头部..................................................................................................................*/
.header{
    width: 100%;
    overflow: hidden;
}

.header .header-wrap{
    width: 100%;
    overflow: hidden;
    background-color: white;
  
}
.header .header-wrap .w-800 .nav-bar{
    width: 100%;
    overflow: hidden;
	margin-top:10px;
}
.header .header-wrap .w-800 .nav-bar .logo_wrap .logo{
    width: 110px;
}
.nav{
    width:59%;
}
.header .header-wrap .w-800 .nav-bar ul{
    width: 100%;
}
.header .header-wrap .w-800 .nav-bar ul li{
    text-align: center;
    margin-left:3.2%

}
.header .header-wrap .w-800 .nav-bar ul li a{
    color: #F09b00;
    line-height: 70px;
	font-size:20px;
}
.header .header-wrap .w-800 .nav-bar ul li a:hover{
    color: #ed2847;
    font-weight: 600;

}
.header .header-wrap .w-800 .nav-bar .search-frame{
    margin-top:24px;
    font-size:15px;
    overflow:hidden;
    width: 23%;
}
.header .header-wrap .w-800 .nav-bar .search-frame input{
    border: none;
    border-radius: 15px;
    height: 22px;
    width:70%;
	background-color:#ececec;
}
.header .header-wrap .w-800 .nav-bar .search-frame .sure{
    border: none;
    height: 22px;
    width: 44px;
    border-radius: 10px;
    color: darkgray;
    line-height: 22px;
    cursor: pointer;
	background-color:#ececec;
}



/*....................................................................................................................*/
.wrap{
    width: 100%;
    overflow: hidden;
    background-color: #E6E5E2;
}
.wrap .big-pic img{
    width: 100%;
	min-width:800px;
}
.wrap .content{
     width: 100%;
     margin-top: -200px;
     margin-bottom:20px;
	 overflow:hidden;
 }
 @media (min-width:1400px){
     .wrap .content{margin-top:-300px;}
 }
.wrap .content .content_above{
    background-color: #02254d;
    position: relative;
    overflow: hidden;
 }
.wrap .content .content_above .logo_pic{
     text-align: center;
     width: 25%;
}
.wrap .content .content_above .logo_pic img{
    width: 80%;
    margin: 15px 0;
}
.wrap .content .content_above .logo_pic p{
    color:#DA7826;
}
.wrap .content .content_above .carousel-pic{
    height: 198px;
    width:50%; ;
}
.wrap .content .content_above .carousel-pic img{
    height: 198px;
    width: 100%;
}
.wrap .content .content_above .carousel-text{
      background-color: #201921;
      color: white;
      height: 198px;
      width: 25%;
}
.carousel-text-head{
margin-top: 20px;
  text-align: center
  }




.wrap .content .content_above .list_wrap{
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
.wrap .content .content_above .list_wrap .participants_list{
    text-align: center;
    width: 25%;
    margin-bottom: 30px;
}
.wrap .content .content_above .list_wrap .participants_list p{
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}
.wrap .content .content_above .list_wrap .participants_list .list li{
    font-size: 12px;
    width: 50px;
    line-height: 20px;
    color: #DA7826;
}

.content_table {
    width: 100%;
}
.content_table th{
    width: 25%;
    height: 200px;
}
.content_table .th_red{
    background-color: #B21c33;
    text-align: left;

}
.content_table .th_red .th_red_above{
    margin-left: 10px;
    font-family: '黑体';
}
.content_table .th_red .th_red_above p{
    font-family: '黑体';
    color:white;
    font-weight: 100;

}
.content_table .th_red .th_red_bottom{
    margin-top: 40px;
    margin-left: 10px;
    margin-right:10px;
}
.content_table .th_red .th_red_bottom p{
    font-family: '黑体';
    color:white;
    margin-top: 10px;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
}
.content_table .th_gray_above{
    width:100%;
}
.content_table .th_gray_above p{
    font-family: '黑体';
    color:#6f706c;
    font-weight: 100;
}
.content_table .th_gray_bottom{
    margin-top: 40px;
    margin-left:10px;
    margin-right:10px;
    text-align: left;
}
.content_table .th_gray_bottom p{
    font-family: '黑体';
    color:#6f706c;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
}





.wrap .content .content_below{
    background-color: #201921;
    position: relative;
    height:205px;
    margin-bottom: 30px;
}
.wrap .content .content_below .yellow_box_wrap{
    height:145px;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 30px;
    position: absolute;
    background-color: #f7a013;
    width: 200%;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-img{
    margin-left: 60px;
    margin-top: 16px;
    margin-right: 40px;
}
.left-side .left-side-img img{
    width: 115px;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-text{
    margin-top: 50px;
}
.wrap .content .content_below .yellow_box_wrap .left-side .left-side-text p{
    line-height: 25px;
    color:white;
    font-weight: 600;
}
.wrap .content .content_below .yellow_box_wrap .right-side{
    color:white;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 14px;
}
.wrap .content .content_below .yellow_box_wrap .right-side .contact{
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.wrap .content .content_below .yellow_box_wrap .right-side .contact p{
    display: inline-block;
}

/* footer*/



.footer{
  overflow: hidden;
  height:40px;
  background-color:#E6E5E2;
  border-top:1px solid darkgray;
  }

@media screen and (max-width:800px){
    .header .header-wrap .w-800 .nav-bar .logo_wrap .logo{width: 100px;}
    .w-800{min-width:320px;width: 100%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 18px}
    .nav{width:60%}
    #banner{height: 180px}
    .wrap .content .content_above .carousel-pic img{height: 180px}
    .wrap .content .content_above .carousel-text{height: 180px;}
    .content_table th{height: 180px}
}
@media screen and (max-width:720px){
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 5%}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 16px;line-height: 60px}
    .nav{width:80%}
    .header .header-wrap .w-800 .nav-bar .search-frame{width:50%;float:none;margin-top: 0;margin:0 auto}
    #banner{height: 160px}
    .wrap .content .content_above .carousel-pic img{height: 160px}
    .wrap .content .content_above .carousel-text{height: 160px;}
    .content_table th{height: 160px}
    .content_table .th_red .th_red_bottom{margin-top: 20px}
    .content_table .th_gray_bottom{margin-top: 20px}
}
@media screen and (max-width:670px){
    .wrap .content .content_above .list_wrap .participants_list{width: 50%;margin-bottom: 10px}
    .content_table .th_red .th_red_bottom{display:none}
    .content_table .th_gray_bottom{display: none}
    .carousel-text-head p{font-size: 12px}
}
@media screen and (max-width:600px){
    .content_table th{height: 140px}
    .wrap .content .content_above .carousel-pic img{height: 140px}
    .wrap .content .content_above .carousel-text{height: 140px;}
}
@media screen and (max-width:540px){
    .header .header-wrap .w-800 .nav-bar .logo_wrap .logo{width: 90px;}
    .header .header-wrap .w-800 .nav-bar ul li a{font-size: 13px}
    .header .header-wrap .w-800 .nav-bar ul li{margin-left: 3%}
    .nav{width:75%}
}
/*...............................................................................................................*/
