body {background:#E6E5E2;}
.news_content_wrap{
    position:relative;
}
.left-slide-nav{
    left: 8%;
    background-color: #e0e0e0;
    padding:0 10px;
    width: 18%;
    min-width: 66px;
}
.left-slide-nav .left-above{
    border-bottom: 1px solid #aaaaaa;
    text-align: center;
}
.left-slide-nav .left-above img{
    display: block;
    margin: 0 auto;
}
.left-slide-nav .left-above .logo-above{
    margin-top: 40px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 30px;
}
.left-slide-nav .left-bottom ul{
    width: 92.3%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 30px;

}
.left-slide-nav .left-bottom ul li{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px dotted #b8b8b8;
}
.left-slide-nav .left-bottom ul li a{
    line-height: 70px;
    font-size: 20px;
    color: #DA7826;
}
.news-text-content ul li{line-height: 40px}












.news_content_wrap .news_content{
    position: relative;
}
.news_content_wrap .news_content .news-text-bg{
    width: 100%;
    display: block;
}
.news-text-wrap{
    min-height:400px;
	margin-bottom:20px; 
}

.news-text-wrap .news-text-nav{
    background-color: #dddddd;
    overflow: hidden;
    /*box-shadow: 1px 1px 5px #8a9799;*/
    line-height:35px;
}
.news-text-wrap .news-text-nav a{
    color:#999;
}
.news-text-wrap .news-text-nav ul li{
    font-size: 12px;
    line-height: 35px;
    color:#999;
}

.news-text-content {
	padding:0 10px;
    font-size: 13px;
    overflow:hidden;
	line-height:35px; 
}
.news-text-content a{
    color:#333;
}
.news-text-content .row {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.news-text-content .row .title {
	white-space:nowrap;
	overflow:hidden; 
	text-overflow: ellipsis;
}
.news-text-content .row .time {
	color:#999;
	text-align:right;
}
